<div class="container p-3">
  <h2>Edit User Incident</h2>
  <div class="container bg-light">
    <div *ngIf="myIncident.title" class="label">Title</div>
    <div [innerHTML] = "myIncident.title"></div>
    <div *ngIf="myIncident.sources" class="label">Threate Sources</div>
    <div  *ngFor = "let sources of myIncident.sources; let i = index">
      {{myIncident.sources[i].source}}
    </div>
    <div *ngIf="myIncident.events" class="label">Threat Events</div>
    <div  *ngFor = "let events of myIncident.events; let i = index">
      {{myIncident.events[i].event}}
    </div>
    <div *ngIf="myIncident.entities" class="label">Threat Entities</div>
    <div  *ngFor = "let entities of myIncident.entities; let i = index">
      {{myIncident.entities[i].entity}}
    </div>
    <div *ngIf="myIncident.impacts" class="label">Threat Impact</div>
    <div *ngFor = "let impacts of myIncident.impacts; let i = index">
      {{myIncident.impacts[i].impact}}
    </div>
    <div *ngIf="myIncident.time" class="label">Time</div>
    <div [innerHTML] = "myIncident.time"></div>
    <div *ngIf="myIncident.email" class="label">E-Mail</div>
    <div [innerHTML] = "myIncident.email"></div>
    <div *ngIf="myIncident.description" class="label">Description</div>
    <div [innerHTML] = "myIncident.description"></div>
    <div *ngIf="myIncident.technicalData" class="label">technical Data</div>
    <div [innerHTML] = "myIncident.technicalData"></div>
<div>
<button (click)="deleteIncident()" class="btn btn-fail">Delete</button>
<button (click)="transferIncident()" class="btn btn-success">Transfer to reference Incidents</button>
</div>
</div>