<div>
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput placeholder="myIncident.title" [(ngModel)]="myIncident.title">
  </mat-form-field>
  <div>
    <mat-accordion #sourcesAccordion>
      <mat-expansion-panel *ngFor="let source of myIncident.sources; let i = index"
        [(expanded)]="sourcesPanelOpened[i]">
        <mat-expansion-panel-header>
          Source {{i + 1}}
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  
      <button (click)="deleteIncident()" class="btn btn-fail">Delete</button>
      <button (click)="submitIncident()" class="btn btn-success">Submit</button>

  </div>

